header, nav, footer, article {display:block;}

nav {
  float: left;
  width: 20%;
}

article {
  float: right;
  width: 79%;
}

footer {
  clear:both;
  font-size: 0.8em;
  font-weight: 750;
  color: red;
}
